@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');

:root{
    --accent-light: #FC8A17;
    --accent-dark: #f75f20;
    --header-height: 100px;
    --footer-height: 220px;
}

body {
    overscroll-behavior: none;
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*{box-sizing: border-box;}
header{
    height: var(--header-height);
}
.content{
    min-height: calc(100vh - var(--header-height));
    padding: 0 16px;
}
.intro{
    text-align: center;
    #title{
        padding: 42px 0;
        margin: 0;
        font-size: 64px;
        font-weight: 600;
    }
    #title .letter {
        display: inline-block;
        line-height: 1em;
        opacity: 0;
    }
    p{
        font-size: 24px;
        max-width: 500px;
        margin: auto;
    }
    img {
        height: 100vh;
        position: fixed;
        top: 0px;
        left: 0;
        z-index: -2;
        filter: opacity(0.4);
    }
    .img-fade {
        width: calc(100vh * 0.534653); // image ratio
        height: calc(100vh + 60px);
        position: fixed;
        top: -30px;
        left: 0;
        z-index: -1;
        box-shadow: inset -20px 0px 3vh 3vh #fff;
    }
    .btn{
        display: inline-block;
        background: black;
        color: white;
        font-size: 18px;
        margin-top: 20px;
        border: none;
        padding: 0 20px;
        padding-top: 3px;
        height: 40px;
        cursor: pointer;
        box-shadow: 2px 2px 0px 2px #0004;
        transition-duration: .2s;
        &:hover{
            box-shadow: 0px 0px 0px 2px #0004;
        }
    }
}
.work{
    margin-top: 40px;
    text-align: center;
    h2{
        font-size: 32px; 
        cursor: default;
        letter-spacing: 2px;
        border-bottom: solid thin #000;
        padding: 0 20px;
        display: inline-block;
    }
    .projects{
        margin: auto;
        max-width: 1200px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .project{
            background: #FFF8;
            text-align: left;
            width: 360px;
            height: 260px;
            margin-bottom: 32px;
            border-radius: 4px;
            overflow: hidden;
            box-shadow: 2px 2px 0px 2px #0002;
            transition-duration: .3s;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            cursor: pointer;
            backdrop-filter: blur(10px);
            &:hover{
                box-shadow: 0px 0px 0px 2px #0002;
                .info{
                    top: -200px;
                    background: #FFF8;
                    backdrop-filter: blur(10px);
                }
            }
            img{
                width: 100%;
                height: 200px;
                object-position: center -5px;
                object-fit: cover;
            }
            p{
                flex: 1;
                margin: 20px 0;
                font-size: 18px;
                font-weight: 500;
                padding: 0 16px;
            }
            span{
                flex: 1;
                text-align: right;
                padding: 0 16px;
                font-size: 14px;
                color: #777;
            }
            .description{
                padding: 16px;
                width: 100%;
                height: 100%;
            }
            .info{
                flex: 1;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                position: relative;
                top: 0;
                height: 260px;
                transition-duration: .3s;
                transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.05);
            }
        }
    }
}
footer{
    display: none;
    background-color: #0001;
    height: var(--footer-height);
}

.gate1,.gate2{
    background: #353637 url("/img/noise.png");

    min-height: 1em;
    position: fixed;
    z-index: 998;
    top: 0px;
    bottom: 0px;
    transition: .7s;
    transition-timing-function: ease-out;
    width: 50%;
}
.gate1{
    left: 0px;
    &.open{left: -50%;}
}
.gate2{
    right: 0px;
    &.open{right: -50%;}
}
.loading{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    color: white;
    font: 600 48px sans-serif;
    letter-spacing: 1px;
    text-shadow: 2px 3px black;
}
@media screen and(max-width: 1024px) {
    #title{font-size: 42px !important;}
}